* {
    box-sizing: border-box;
  }
  
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #C1B5AD;
  }
  
#map {
  height: 100vh;
  width: 100vw;
  display: flex;
  z-index: 1;
  }

.header-box{
    display: flex;
    width: 100vw; 
    z-index: 0;
    justify-content: center;
}

#header {
  margin-left: 50%;
  align-self: center;
  z-index: 2;
}

h1 {
  height: 2em;
  position: fixed;
  text-align: center;

}
#header a {
  text-decoration: none;
  font-size: 1em;
}