* {
    box-sizing: border-box;
    border: 1px solid;
  }
  
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #C1B5AD;
  }
  
#container {
  display: flex;

}

#UI {
  width: 15vw;
  height: 50%;
 }

#itinerary {
  height: 50%;
  background-color: aqua;
  align-self: end;
}

#map {
  width: 85vw;
  display: flex;
  z-index: 0;
  height: 80vh;
}

#header {
  align-self: center;
  height: 2em;
  text-align: center;
  display: block;
  width: 100%;
  z-index: 0;
}

.checkbox {
  font-size: 1.5em;
  align-self: start;
}

.submitBtn {
  font-size: 1.3em;
}

#parentContainer {
  display: flex;
  flex-direction: column;
}

#UICont {
  flex-direction: column;
}

li {
  padding: 5px;
}